{% extends 'song/index.html' %}
{% block datatable %}
  <div class="container mt-3">
    <a class="btn btn-secondary mb-3" href="{{ url_for('song.index') }}">Go back</a>
    <header>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user['id'] }}</td>
              <td>{{ user['username'] }}</td>
              <td>
                <a class="btn btn-danger" href="{{ url_for('auth.user_remove', id = user['id']) }}" onclick="return confirm('Are you sure?')">Remove</a>
                {% if user['isblocked'] == 0 %}
                  <a class="btn btn-danger" href="{{ url_for('auth.user_block', id = user['id']) }}" onclick="return confirm('Are you sure?')">Block</a>
                {% else %}
                  <a class="btn btn-success" href="{{ url_for('auth.user_unblock', id = user['id']) }}" onclick="return confirm('Are you sure?')">Unblock</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    </header>
  </div>
{% endblock %}
